#websiteHeaderDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#headerContainer{
    width: 90%;
    display: flex;
    min-height: 130px;
    max-height: 130px;
    border-style: solid;
    border-color: rgb(164, 164, 164);
    border-width: 4px;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 5px;
}

.mainHeader{
    font-size: 4vw;
    font-style: oblique;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    color: rgb(161, 184, 98);
    align-self: center;
}

@media (max-width: 300px){
    .mainHeader{
        font-size: 15pt;
    }
}

@media (min-width: 301px){
    .mainHeader{
        font-size: 42pt;
    }
}