#mainDiv{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: rgb(61, 61, 61);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#searchbar.MuiOutlinedInput-input{
    color: rgb(161, 184, 98)
}

#filtersDiv{
    display: grid;
    grid-template-columns: 15% 40% 40%;
    grid-template-rows: 33% 33% 33%;
    width: 30vw;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}   
.sortsAndFiltersHeader{
    align-self: center;
    justify-self: center;
    color: rgb(161, 184, 98);
}

#searchDiv{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0fr 1fr;
}

#searchBarDiv{
    max-height: 15vh;
}


.skillToGemSelect{
    justify-self: center;
    align-self: center;
    width: 80%;
}

#resultsTable{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    justify-self: center;
    align-self: start;
    border: 1px solid black;
}

.tdStyle{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.thStyle{
    border-right: 1px solid black;
}

.listStyle{
    list-style: none;
    padding: 0pt;
    margin: 0pt;
}

#searchbar1{
    align-self: start;
    position: relative;
    top: 2vh;
}