

#suggestionList{
    list-style-type: none;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 40vw;
    position: relative;
    top: 6.5vh;
    left: 1vw;
}

.searchbarSelect{
    justify-self: center;
    align-self: center;
    width: 90%;
}


#searchbar.MuiOutlinedInput-input{
    color: rgb(161, 184, 98)
}
