.navbarDiv{
	width: 90%;
	min-height: 30px;
	max-height: 45vh;
	margin-bottom: 50pt;
	grid-template-columns: 150px 150px 210px 150px 150px auto;
	display: grid;
	align-self: center;
	justify-content: center;
}

@media (max-width: 375px){
	.navbarDiv{
		grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
		grid-template-columns: auto;
		grid-auto-flow: column;
	}
}

@media (max-width: 519px) and (min-width: 376px){
	.navbarDiv{
		grid-template-rows: 50px 50px 50px 50px;
		grid-template-columns: 195px 160px;
		grid-auto-flow: row;
	}
}

@media (max-width: 710px) and (min-width: 520px){
	.navbarDiv{
		grid-template-rows: 50px 50px 50px;
		grid-template-columns: 160px 160px 195px;
		grid-auto-flow: row;
	}
}

@media (max-width: 895px) and (min-width: 711px){
	.navbarDiv{
		grid-template-rows: 50px 50px;
		grid-template-columns: 160px 160px 195px 160px;
		grid-auto-flow: row;
		justify-content: unset;
	}
}

@media (max-width: 1060px) and (min-width: 896px){
	.navbarDiv{
		grid-template-rows: 50px 50px;
		grid-template-columns: 160px 160px 195px 160px 160px;
		grid-auto-flow: row;
		justify-content: unset;
	}
}

@media (max-width: 1240px) and (min-width: 1061px){
	.navbarDiv{
		grid-template-rows: 50px 50px;
		grid-template-columns: 160px 160px 195px 160px 160px 160px;
		grid-auto-flow: row;
		justify-content: unset;
	}
}

@media (min-width: 1241px){
	.navbarDiv{
		grid-template-rows: 50px;
		grid-template-columns: 160px 160px 210px 160px 160px 160px 160px;
		grid-auto-flow: row;
		justify-content: unset;
	}
}
