#mainSearchBarDiv{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35%;
    padding: 2pt;
    width: 65vw;
    height: 30vh;
}

#suggestionList{
    list-style-type: none;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 40vw;
    position: relative;
    top: 6.5vh;
    left: 1vw;
}


#searchbar.MuiOutlinedInput-input{
    color: rgb(161, 184, 98)
}