#mainDiv{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: rgb(61, 61, 61);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#newsfeedContainer{
    display: block;
    width: 85%;
    height: fit-content;
}

#newsfeed_header{
   color: rgb(161, 184, 98);
   font-size: 20pt;
   position: relative;
   left: 2pt;
}

#newsfeed_mainDiv{
    display: block;
    width: 85%;
    height: fit-content;
    padding: 5pt;
}